*.class
*.*~
*.pyc
*.pyo
htdocs/application/cache
htdocs/application/logs
smarty_data/cache
smarty_data/templates_c
temp
*.bak
.settings/org.eclipse.core.runtime.prefs
.settings/com.aptana.editor.php.prefs
.project
.DS_Store
